<script id="ContactInfoView-template" type="text/template">
    <div class="info">
        <div class="website">
            <div class="url">
                <a href="<%=resume.website%>"><i class="fa fa-external-link-square"></i><%=resume.website%></a>
            </div>
            <div class="printUrl"><i class="fa fa-external-link-square"></i><%=resume.website%></div>
        </div>
        <div class="email">
            <div class="url">
                <a href="mailto:<%=resume.email%>"><i class="fa fa-envelope-square"></i><%=resume.email%></a>
            </div>
            <div class="printUrl"><i class="fa fa-envelope-square"></i><%=resume.email%></div>
        </div>
    </div>
    <!--
    <div class="social">
        <div class="twitter">
            <div class="url">
                <a href="https://www.twitter.com/<%=resume.twitter%>"><i class="fa fa-twitter-square"></i><%=resume.twitter%></a>
            </div>
            <div class="printUrl"><i class="fa fa-twitter-square"></i>https://www.twitter.com/<%=resume.twitter%></div>
        </div>
        <div class="github">
            <div class="url">
                <a href="https://www.github.com/<%=resume.github%>"><i class="fa fa-github-square"></i><%=resume.github%></a>
            </div>
            <div class="printUrl"><i class="fa fa-github-square"></i>https://www.github.com/<%=resume.github%></div>
        </div>
        <div class="linkedin">
            <div class="url">
                <a href="<%=resume.linkedin%>"><i class="fa fa-linkedin-square"></i>LinkedIn</a>
            </div>
            <div class="printUrl"><i class="fa fa-linkedin-square"></i><%=resume.linkedin%></div>
        </div>
    </div>-->
</script>
