<script id="ContainerView-template" type="text/template">
    <div class="header">
        <div id="HeadlineView"></div>
        <div id="AvatarView"></div>
        <div id="ContactInfoView"></div>

        <div class="space"></div>
    </div>
    <div id="ObjectiveView"></div>
    <div id="SummaryView"></div>
    <div id="ExpertiseView"></div>
    <div id="ExperienceView"></div>
    <div id="AccomplishmentsView"></div>
    <div id="EducationView"></div>
    <div id="OpenSourceView"></div>
    <div id="PublicationsView"></div>
    <div id="EducationView"></div>
    <div id="FooterView"></div>
</script>
